In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("amazon prime movies.csv")
data

,Movie Name,Language,IMDb Rating,Running Time,Year of Release,Maturity Rating,Plot
0,John Rambo,Tamil,7,1 h 26 min,2008,18+,"In Thailand, John Rambo joins a group of merce..."
1,American Pie,English,7,1 h 35 min,1999,18+,You'll never look at warm apple pie the same w...
2,Bombshell,English,6.8,1 h 48 min,2019,18+,"The provocative real story of three smart, amb..."
3,Love Birds,Tamil,5.1,2 h 40 min,1996,All,"After accidentally meeting, Mridula (Nagma) an..."
4,Hippi,Telugu,5,2 h 20 min,2019,18+,Hippi is about the live-in relationship betwee...
...,...,...,...,...,...,...,...
8122,Blackout,English,5.2,1 h 31 min,2014,18+,This ensemble thriller tells the story of four...
8123,Loafer,Hindi,6.5,2 h 3 min,1973,All,Loafer Is A Bollywood Romantic Drama Hindi Mov...
8124,Remember Me,English,7.1,1 h 52 min,2010,13+,Two people scarred by grief find happiness in ...
8125,Khopa,Marathi,None,1 h 51 mins,2017,13+,Narya who comes from a loving and respected fa...
8126,Khandani Shafakhana,Hindi,4,2 h 14 min,2019,13+,A feisty girl from Punjab tries to continue he...

In [3]:
data.describe()

,Movie Name,Language,IMDb Rating,Running Time,Year of Release,Maturity Rating,Plot
count,8127,8127,8127,8127,8127,8127,8122
unique,7261,10,83,289,69,6,7402
top,The Landlord,Hindi,None,2 h 17 min,2017,13+,Five plan passengers are unable to land after ...
freq,8,1982,2007,144,762,2606,8

In [4]:
data['Language'].value_counts()

Hindi        1982
English      1699
Bengali      1201
Telugu        987
Tamil         721
Malayalam     518
Kannada       419
Marathi       353
Punjabi       133
Gujarati      114
Name: Language, dtype: int64

In [5]:
(data['IMDb Rating']=='None').value_counts()

False    6120
True     2007
Name: IMDb Rating, dtype: int64

In [6]:
data['hours'] = data['Running Time'].str.extract('(\d+) h', expand=False)
data['hours'].fillna('0', inplace=True)
data['hours'].unique()

array(['1', '2', '0', '3', '4'], dtype=object)

In [7]:
data[['minutes',1]] = data['Running Time'].str.extract('(\d+) min|(\d+)min', expand=True).fillna(0).astype(int)

In [8]:
data.loc[data[1] != 0, 'minutes'] = data[1]
data['minutes'].fillna(0, inplace=True)
data['minutes'].unique()

array([26, 35, 48, 40, 20, 49, 39, 57, 13, 56, 21, 34, 33, 46, 23, 32, 44,
        2, 42, 19, 11, 51, 25, 36, 41, 14, 50, 30, 38, 24, 18, 59, 47,  4,
       28,  9, 15,  3, 54, 22, 10, 27,  6, 29,  1, 31, 17,  5, 37, 12, 45,
        7, 53,  8, 58, 16, 60, 43, 55,  0, 52])

In [9]:
data = data.drop(['Running Time', 'Plot', 1], axis=1)
data

,Movie Name,Language,IMDb Rating,Year of Release,Maturity Rating,hours,minutes
0,John Rambo,Tamil,7,2008,18+,1,26
1,American Pie,English,7,1999,18+,1,35
2,Bombshell,English,6.8,2019,18+,1,48
3,Love Birds,Tamil,5.1,1996,All,2,40
4,Hippi,Telugu,5,2019,18+,2,20
...,...,...,...,...,...,...,...
8122,Blackout,English,5.2,2014,18+,1,31
8123,Loafer,Hindi,6.5,1973,All,2,3
8124,Remember Me,English,7.1,2010,13+,1,52
8125,Khopa,Marathi,None,2017,13+,1,51
8126,Khandani Shafakhana,Hindi,4,2019,13+,2,14

In [10]:
(data['Year of Release']).unique()

array(['2008', '1999', '2019', '1996', '2018', '2005', '2020', '1997',
       '2002', '2009', '2015', 'None', '1993', '2014', '2006', '2016',
       '2010', '2012', '2017', '2004', '1978', '2003', '1982', '1991',
       '1989', '2000', '2013', '1985', '2007', '1994', '1979', '1972',
       '2001', '1988', '1987', '1977', '2011', '1992', '1981', '1958',
       '1986', '1990', '1965', '1984', '1998', '1995', '1963', '1980',
       '1976', '1971', '1973', '1974', '1983', '1970', '1975', '1969',
       '1960', '2021', '1956', '1962', '1967', '1964', '1961', '1952',
       '1966', '1968', '1957', '1954', '1959'], dtype=object)

In [11]:
(data['Maturity Rating']).value_counts()

13+    2606
NR     2054
All    1762
18+    1138
16+     382
7+      185
Name: Maturity Rating, dtype: int64

In [12]:
data

,Movie Name,Language,IMDb Rating,Year of Release,Maturity Rating,hours,minutes
0,John Rambo,Tamil,7,2008,18+,1,26
1,American Pie,English,7,1999,18+,1,35
2,Bombshell,English,6.8,2019,18+,1,48
3,Love Birds,Tamil,5.1,1996,All,2,40
4,Hippi,Telugu,5,2019,18+,2,20
...,...,...,...,...,...,...,...
8122,Blackout,English,5.2,2014,18+,1,31
8123,Loafer,Hindi,6.5,1973,All,2,3
8124,Remember Me,English,7.1,2010,13+,1,52
8125,Khopa,Marathi,None,2017,13+,1,51
8126,Khandani Shafakhana,Hindi,4,2019,13+,2,14

In [13]:
data['IMDb Rating'] = data['IMDb Rating'].replace('None', np.nan)
data['IMDb Rating'] = data['IMDb Rating'].replace('         None', np.nan)
data

,Movie Name,Language,IMDb Rating,Year of Release,Maturity Rating,hours,minutes
0,John Rambo,Tamil,7,2008,18+,1,26
1,American Pie,English,7,1999,18+,1,35
2,Bombshell,English,6.8,2019,18+,1,48
3,Love Birds,Tamil,5.1,1996,All,2,40
4,Hippi,Telugu,5,2019,18+,2,20
...,...,...,...,...,...,...,...
8122,Blackout,English,5.2,2014,18+,1,31
8123,Loafer,Hindi,6.5,1973,All,2,3
8124,Remember Me,English,7.1,2010,13+,1,52
8125,Khopa,Marathi,NaN,2017,13+,1,51
8126,Khandani Shafakhana,Hindi,4,2019,13+,2,14

In [14]:
data['IMDb Rating'].unique()

array(['7', '6.8', '5.1', '5', nan, '5.7', '4.9', '6', '4.5', '7.7',
       '6.4', '2.8', '7.6', '7.4', '6.6', '6.2', '5.8', '7.2', '8.6',
       '4.7', '6.7', '4.2', '3.7', '5.2', '5.9', '6.9', '8.2', '4.8',
       '7.5', '6.5', '4.6', '6.1', '5.3', '5.5', '7.1', '8.5', '5.4', '8',
       '4.4', '7.3', '7.8', '7.9', '3.6', '3.5', '6.3', '8.1', '3.4',
       '5.6', '4', '8.4', '3.2', '3.9', '8.7', '4.3', '8.3', '8.8', '4.1',
       '3.8', '2', '9.4', '3.3', '2.4', '2.7', '3', '9', '2.3', '2.9',
       '8.9', '3.1', '2.5', '2.6', '9.2', '2.2', '1.4', '1.6', '9.5',
       '1.7', '9.1', '1.5', '9.3', '2.1', '1.9'], dtype=object)

In [15]:
data['IMDb Rating'] = data['IMDb Rating'].astype(float)
data

,Movie Name,Language,IMDb Rating,Year of Release,Maturity Rating,hours,minutes
0,John Rambo,Tamil,7.0,2008,18+,1,26
1,American Pie,English,7.0,1999,18+,1,35
2,Bombshell,English,6.8,2019,18+,1,48
3,Love Birds,Tamil,5.1,1996,All,2,40
4,Hippi,Telugu,5.0,2019,18+,2,20
...,...,...,...,...,...,...,...
8122,Blackout,English,5.2,2014,18+,1,31
8123,Loafer,Hindi,6.5,1973,All,2,3
8124,Remember Me,English,7.1,2010,13+,1,52
8125,Khopa,Marathi,NaN,2017,13+,1,51
8126,Khandani Shafakhana,Hindi,4.0,2019,13+,2,14

In [16]:
data['Year of Release'] = data['Year of Release'].replace('None', 0)
data

,Movie Name,Language,IMDb Rating,Year of Release,Maturity Rating,hours,minutes
0,John Rambo,Tamil,7.0,2008,18+,1,26
1,American Pie,English,7.0,1999,18+,1,35
2,Bombshell,English,6.8,2019,18+,1,48
3,Love Birds,Tamil,5.1,1996,All,2,40
4,Hippi,Telugu,5.0,2019,18+,2,20
...,...,...,...,...,...,...,...
8122,Blackout,English,5.2,2014,18+,1,31
8123,Loafer,Hindi,6.5,1973,All,2,3
8124,Remember Me,English,7.1,2010,13+,1,52
8125,Khopa,Marathi,NaN,2017,13+,1,51
8126,Khandani Shafakhana,Hindi,4.0,2019,13+,2,14

In [17]:
data['Year of Release'] = data['Year of Release'].astype(int)
data

,Movie Name,Language,IMDb Rating,Year of Release,Maturity Rating,hours,minutes
0,John Rambo,Tamil,7.0,2008,18+,1,26
1,American Pie,English,7.0,1999,18+,1,35
2,Bombshell,English,6.8,2019,18+,1,48
3,Love Birds,Tamil,5.1,1996,All,2,40
4,Hippi,Telugu,5.0,2019,18+,2,20
...,...,...,...,...,...,...,...
8122,Blackout,English,5.2,2014,18+,1,31
8123,Loafer,Hindi,6.5,1973,All,2,3
8124,Remember Me,English,7.1,2010,13+,1,52
8125,Khopa,Marathi,NaN,2017,13+,1,51
8126,Khandani Shafakhana,Hindi,4.0,2019,13+,2,14

In [18]:
data['Year of Release'] = data['Year of Release'].replace(0, np.nan)
data

,Movie Name,Language,IMDb Rating,Year of Release,Maturity Rating,hours,minutes
0,John Rambo,Tamil,7.0,2008.0,18+,1,26
1,American Pie,English,7.0,1999.0,18+,1,35
2,Bombshell,English,6.8,2019.0,18+,1,48
3,Love Birds,Tamil,5.1,1996.0,All,2,40
4,Hippi,Telugu,5.0,2019.0,18+,2,20
...,...,...,...,...,...,...,...
8122,Blackout,English,5.2,2014.0,18+,1,31
8123,Loafer,Hindi,6.5,1973.0,All,2,3
8124,Remember Me,English,7.1,2010.0,13+,1,52
8125,Khopa,Marathi,NaN,2017.0,13+,1,51
8126,Khandani Shafakhana,Hindi,4.0,2019.0,13+,2,14

In [19]:
data.to_csv('Amazon_Prime_edited.csv', index=False)

In [20]:
data = pd.read_csv("Amazon_Prime_edited.csv")
for i in data.columns:
    print(data[i].unique())

['John Rambo' 'American Pie' 'Bombshell' ... 'Remember Me' 'Khopa'
 'Khandani Shafakhana']
['Tamil' 'English' 'Telugu' 'Bengali' 'Punjabi' 'Kannada' 'Hindi'
 'Marathi' 'Malayalam' 'Gujarati']
[7.  6.8 5.1 5.  nan 5.7 4.9 6.  4.5 7.7 6.4 2.8 7.6 7.4 6.6 6.2 5.8 7.2
 8.6 4.7 6.7 4.2 3.7 5.2 5.9 6.9 8.2 4.8 7.5 6.5 4.6 6.1 5.3 5.5 7.1 8.5
 5.4 8.  4.4 7.3 7.8 7.9 3.6 3.5 6.3 8.1 3.4 5.6 4.  8.4 3.2 3.9 8.7 4.3
 8.3 8.8 4.1 3.8 2.  9.4 3.3 2.4 2.7 3.  9.  2.3 2.9 8.9 3.1 2.5 2.6 9.2
 2.2 1.4 1.6 9.5 1.7 9.1 1.5 9.3 2.1 1.9]
[2008. 1999. 2019. 1996. 2018. 2005. 2020. 1997. 2002. 2009. 2015.   nan
 1993. 2014. 2006. 2016. 2010. 2012. 2017. 2004. 1978. 2003. 1982. 1991.
 1989. 2000. 2013. 1985. 2007. 1994. 1979. 1972. 2001. 1988. 1987. 1977.
 2011. 1992. 1981. 1958. 1986. 1990. 1965. 1984. 1998. 1995. 1963. 1980.
 1976. 1971. 1973. 1974. 1983. 1970. 1975. 1969. 1960. 2021. 1956. 1962.
 1967. 1964. 1961. 1952. 1966. 1968. 1957. 1954. 1959.]
['18+' 'All' '7+' 'NR' '13+' '16+']
[1 2 0 3 4]
[26 35 48 40 20 49 39 57 13 56 21 34 33 46 23 32 44  2 42 19 11 51 25 36
 41 14 50 30 38 24 18 59 47  4 28  9 15  3 54 22 10 27  6 29  1 31 17  5
 37 12 45  7 53  8 58 16 60 43 55  0 52]

In [21]:
data['duration'] = data.apply(lambda row: '<30 mins' if row['minutes'] < 30 and row['hours'] == 0
                            else '30-60 mins' if row['minutes'] < 60 and row['hours'] == 0
                            else '1-2 hrs' if row['hours'] == 1
                            else '2-3 hrs' if row['minutes'] < 60 and row['hours'] == 2
                            else '>3 hrs', axis=1)
data['duration']

0       1-2 hrs
1       1-2 hrs
2       1-2 hrs
3       2-3 hrs
4       2-3 hrs
         ...
8122    1-2 hrs
8123    2-3 hrs
8124    1-2 hrs
8125    1-2 hrs
8126    2-3 hrs
Name: duration, Length: 8127, dtype: object

In [22]:
data.to_csv('Amazon_Prime_edited.csv', index=False)

### Don't use this block

In [23]:
# df1 = pd.read_csv("amazon_prime_titles.csv")
# df2 = pd.read_csv("Amazon_Prime_edited.csv")

In [24]:
# common_rows = pd.merge(df1, df2, on='Movie Name', how='inner')

In [25]:
# common_rows

### Amazon movies titles

In [26]:
# data = pd.read_csv("amazon_prime_titles.csv")
# data

In [27]:
# data.describe()